.chat-container {
  width: 70vw;
  height: 90vh;
  /* background-color: white; */
}

.chat-text {
  /* width: 65vw;
  height: 80vh; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat-text-header {
  /* background-color: rgb(4, 71, 28); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-text-header>h2 {
  font-weight: 600;
  color: var(--palette-green-primary);
  margin-bottom: 0;
}
.chat-text-header .close-chat-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  outline: none;
}
.chat-text-header .close-chat-btn span {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.chat-text-header .close-chat-btn span:nth-child(1) {
  transform: rotate(45deg);
}
.chat-text-header .close-chat-btn span:nth-child(2) {
  transform: rotate(-45deg);
}
.chat-text-header .close-chat-btn:hover {
  /* background: rgba(0, 255, 115, 0.1); */
  border-color: var(--palette-green-primary);
}
.chat-text-header .close-chat-btn:hover span {
  background-color: var(--palette-green-primary);
}
.chat-text-header .close-chat-btn:active {
  transform: scale(0.9);
}

.chat-messages-container {
  scroll-behavior: smooth;
}
.chat-messages-container::-webkit-scrollbar {
  background: none;
  width: 16px;
  background-clip: content-box;
  transition: background 0.3s ease;
}
.chat-messages-container::-webkit-scrollbar-track {
  background: transparent;
}
.chat-messages-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 4px solid transparent;
  border-radius: 12px;
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5); */
  margin: 10px;
}

.chat-text-writing {
  position: absolute;
  bottom: -8px;
  left: 8px;
  color: var(--palette-light-text);
}
.chat-text-writing strong {
  color: var(--palette-green-primary);
}

@media screen and (max-width: 576px) {
  .chat-container {
    width: 100vw;
    height: 100vh;
  }

  .chat-text-header .close-chat-btn {
    top: 16px;
  }
}