<section
  class="chat-container d-flex flex-column justify-content-center align-items-center p-2 gap-3 font-funnel-display">
  <main class="chat-text container-glass card p-0">
    <section class="chat-text-header card-header py-3">
      <h2>Chat grupal #1</h2>
      <button type="button" 
              class="close-chat-btn" 
              aria-label="Cerrar chat"
              (click)="desconectar.emit()">
        <span></span>
        <span></span>
      </button>
    </section>

    <app-chat-messages
      [mensajes]="mensajes"
      [nombreUsuarioActual]="nombreUsuarioActual"
      class="chat-messages-container overflow-auto">
    </app-chat-messages>

    @if (usuarioEscribiendo.trim() != '')
    {
    <p class="chat-text-writing"><strong>{{ usuarioEscribiendo }}</strong> está escribiendo...</p>
    }
  </main>
  <section class="chat-msg-input w-100">
    <app-chat-input
      [mensajeActual]="mensajeActual"
      (enviarMensaje)="enviarMensaje.emit()"
      (escribiendo)="escribiendo.emit()">
    </app-chat-input>
    <!-- <form (ngSubmit)="enviarMensaje.emit()" class="w-100 container-fluid">
      <div class="row">
        <div class="col-9 p-0 pe-1">
          <input type="text" name="texto" id="texto" [(ngModel)]="mensajeActual.mensaje" (keyup)="escribiendo.emit()"
            class="container-glass w-100 chat-input" placeholder="Escribe tu mensaje..." aria-describedby="btn-enviar">
        </div>
        <div class="col-3 p-0 ps-1">
          <button class="w-100 h-100 chat-btn" type="submit" id="btn-enviar">Enviar</button>
        </div>
      </div>
    </form> -->
  </section>
</section>
