<section
  class="chat-container d-flex flex-column justify-content-center align-items-center p-2 gap-3 font-funnel-display">
  <main class="chat-text container-glass card p-0">
    <section class="chat-text-header card-header py-3">
      <h2>Chat grupal #1</h2>
      <button type="button" 
              class="close-chat-btn" 
              aria-label="Cerrar chat"
              (click)="desconectar.emit()">
        <span></span>
        <span></span>
      </button>
    </section>

    <app-chat-messages
      [mensajes]="mensajes"
      [nombreUsuarioActual]="nombreUsuarioActual"
      class="chat-messages-container overflow-auto">
    </app-chat-messages>

    @if (usuarioEscribiendo.trim() != '')
    {
    <p class="chat-text-writing"><strong>{{ usuarioEscribiendo }}</strong> está escribiendo...</p>
    }
  </main>
  <section class="chat-msg-input w-100">
    <app-chat-input
      [mensajeActual]="mensajeActual"
      (enviarMensaje)="enviarMensaje.emit()"
      (escribiendo)="escribiendo.emit()">
    </app-chat-input>
  </section>
</section>
