<div class="chat-background d-flex flex-column justify-content-center align-items-center">
@if (!estaConectado())
{
    <app-chat-login 
        [mensaje]="getMensajeActual()"
        [error]="errorLogin()"
        (conectar)="conectarChat()"
        class="w-100">
    </app-chat-login>
}
@else 
{
    <app-chat-window
        [mensajes]="getMensajes()"
        [mensajeActual]="getMensajeActual()"
        [nombreUsuarioActual]="getNombreUsuarioActual()"
        [usuarioEscribiendo]="getUsuarioEscribiendo()"
        (enviarMensaje)="alEnviarMensaje()"
        (escribiendo)="alEscribir()"
        (desconectar)="desconectarChat()">
    </app-chat-window>
}
</div>