<!-- Todo: refactorizar estilos -->
<div class="chat-background d-flex flex-column justify-content-center align-items-center">
@if (!conectado())
{
    <header class="chat-header font-funnel-display py-1">
        <h1 class="text-center">¡Bienvenido al chat!</h1>
    </header>
    <section class="chat-login font-funnel-display w-100 d-flex justify-content-center align-items-stretch gap-2">
        <input type="text"
               name="usuario" 
               id="usuario" 
               placeholder="Ingresa tu nombre de usuario..."
               aria-describedby="btn-conectar" 
               class="chat-input container-glass" 
               [(ngModel)]="mensaje.usuario">
        <button type="button" 
                id="btn-conectar" 
                class="chat-btn"
                (click)="conectarChat()">Ingresar</button>
    </section>
}
@else 
{
    <section class="chat-container d-flex flex-column justify-content-center align-items-center p-2 gap-3 font-funnel-display">
        <main class="chat-text container-glass card p-0">
            <section class="chat-text-header card-header py-3">
                <h2>Chat grupal #1</h2>
                <button type="button"
                        class="close-chat-btn" 
                        aria-label="Cerrar chat"
                        (click)="desconectarChat()">
                    <span></span>
                    <span></span>
                </button>
            </section>
            <section class="chat-text-messages card-body d-flex flex-column gap-3">
                <article class="message received">
                    <div class="bubble">
                        <span class="user">Lucho</span>
                        Hola Tomas, ¿cómo va ese proyecto en Angular?
                        <span class="time">16:45</span>
                    </div>
                </article>
                <article class="message sent">
                    <div class="bubble">
                        <span class="user">TomatoRivera</span>
                        ¡Va muy bien! Estoy aplicando un estilo glass y el verde que definimos.
                        <span class="time">16:46</span>
                    </div>
                </article>
                <div class="system-notification container-glass">
                    <p class="mb-0"><strong>Eduardo</strong> se ha unido al chat</p>
                </div>
                <article class="message received">
                    <div class="bubble">
                        <span class="user">Lucho</span>
                        Que onda Eduuuuuuuuuuuuuu
                        <span class="time">16:45</span>
                    </div>
                </article>
            </section>
        </main>
        <section class="chat-msg-input w-100">
            <form (ngSubmit)="alEnviarMensaje()"
                  class="w-100 container-fluid">
                <div class="row">
                    <div class="col-10 p-0 pe-1">
                        <input type="text" 
                               name="texto"
                               id="texto" 
                               [(ngModel)]="mensaje.mensaje"
                               (keyup)="alEscribir()"
                               class="container-glass w-100 chat-input"
                               placeholder="Escribe tu mensaje..."
                               aria-describedby="btn-enviar">
                    </div>
                    <div class="col-2 p-0 ps-1">
                        <button class="w-100 h-100 chat-btn"
                                type="submit" 
                                id="btn-enviar">Enviar</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
}

    <!--
    <main class="chat-background">
        @if (!conectado())
        {
        <section class="bg-light p-3">
            <div class="input-group">
                <input type="text" name="usuario" id="usuario" [(ngModel)]="mensaje.usuario" class="form-control"
                    placeholder="Ingresa tu nombre de usuario..." aria-describedby="btn-conectar">
    
                <button class="btn btn-success" type="button" id="btn-conectar" [disabled]="!mensaje.usuario"
                    (click)="conectarChat()">
                    Conectarme
                </button>
            </div>
        </section>
        }
        @else
        {
        <section class="bg-light p-2">
            <button class="btn btn-warning" type="button" (click)="desconectarChat()">Desconectar</button>
        </section>
    
        <section style="overflow-y: scroll; width: 100vw; height: 50vh; margin: 0 auto;">
            <ul class="list-group">
                @for (mensaje of mensajes(); track $index)
                {
    
                @if (mensaje.tipo == 'MESSAGE')
                {
                <li class="list-group-item">
                    {{mensaje.fecha | date: 'short'}} | <strong>@{{mensaje.usuario}}:</strong> {{mensaje.mensaje}}
                </li>
                }
                @else
                {
                <li class="list-group-item bg-info">
                    {{mensaje.fecha | date: 'short'}} | {{mensaje.mensaje}}
                </li>
                }
                }
                @empty
                {
                <li class="list-group-item text-secondary">Sé el primero en enviar un mensaje!</li>
                }
            </ul>
        </section>
    
        <section class="bg-light p-3">
            <form (ngSubmit)="alEnviarMensaje()">
                <div class="input-group">
                    <button class="btn btn-outline-primary" type="submit" id="btn-enviar">
                        Enviar mensaje
                    </button>
                    <input type="text" name="texto" id="texto" [(ngModel)]="mensaje.mensaje" (keyup)="alEscribir()"
                        class="form-control" placeholder="Escribe tu mensaje..." aria-describedby="btn-enviar">
                </div>
            </form>
            <p>{{ escribiendo() }}</p>
        </section>
        }
    </main>
    -->
</div>