@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

.chat-background {
  width: 100vw;
  height: 100vh;

  background-image: radial-gradient(circle at 0% 5%,
      rgb(7, 49, 28) 0%,
      rgb(0, 0, 0) 50%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 576px) {
  
}