/* .chat-text-messages {
  scroll-behavior: smooth;
  overflow-y: scroll;
} */

.chat-text-messages .message {
  display: flex;
  width: 100%;
}

.chat-text-messages .received {
  justify-content: flex-start;
}

.chat-text-messages .sent {
  justify-content: flex-end;
}

.chat-text-messages .bubble {
  position: relative;
  max-width: 65%;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: white;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-text-messages .received .bubble {
  background-color: #202c33;
  border-top-left-radius: 0;
}

.chat-text-messages .sent .bubble {
  background-color: rgb(4, 71, 28);
  border-top-right-radius: 0;
}

.chat-text-messages .bubble::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.chat-text-messages .received .bubble::before {
  left: -10px;
  border-top-color: #202c33;
  border-right-color: #202c33;
}

.chat-text-messages .sent .bubble::before {
  right: -10px;
  border-top-color: rgb(4, 71, 28);
  border-left-color: rgb(4, 71, 28);
}

.chat-text-messages .time {
  display: block;
  text-align: right;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
}

.chat-text-messages .user {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  color: var(--palette-green-primary);
  margin-bottom: 4px;
}

.chat-text-messages .system-notification {
  text-align: center;
  padding: 8px 16px;
  margin: 5px auto;

  color: var(--palette-light-text);
  font-size: 0.85rem;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.chat-text-messages .system-notification strong {
  color: var(--palette-green-primary);
  font-weight: 600;
}