/* You can add global styles to this file, and also import other style files */

:root {
  --palette-green-primary: rgb(22, 219, 101);
  --palette-green-secondary: rgb(5, 140, 66);
  --palette-light-text: #e0e0e0;
}

.font-funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container-glass {
  background: rgba(255, 255, 255, 0.03);
  
  backdrop-filter: blur(12px);
  /* Soporte para Safari */
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  padding: .55rem;
}